includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    checkMissingCallableSignature: true
    paths:
        - src
        - tests
        - config
    bootstrapFiles:
        - tests/bootstrap.php
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    scanDirectories:
        - var/cache/dev/Symfony/Config
